.btn {
  padding: 5px 15px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.2s opacity;
  &:hover {
    opacity: 0.7;
  }
}

.btn-primary {
  background-color: var(--primary);
  color: white;
  border: 1px solid var(--primary);
}

.btn-secondary {
  background-color: #3498db;
  color: white;
  border: 1px solid #3498db;
}

.btn-reverse-primary {
  border: 2px solid var(--primary);
  color: var(--primary);
  background-color: white;
}

.card {
  border-radius: 20px;
  background-color: white;
}

.text-primary {
  color: var(--primary);
}

input {
  border-radius: 6px;
  border: 2px solid var(--gray-2);
  padding: 10px 15px;
  outline: none;
}

li {
  cursor: pointer;
}

select {
  font-size: 14px;
  padding: 2px 8px;
  border: 2px solid var(--gray-2);
}

.selected {
  border-bottom: 2px solid var(--primary);
}
